table {
    margin-left: 3em;
}
td {
    padding-bottom: 1ex;
}

h2 {
    border-top: thin solid black;
}

table.subtable {
    margin-left: 0px;
}
table.subtable td {
    padding-bottom: 0px;
    padding-right: 1em;
}

.type {
    font-style: italic;
    padding-right: 2em;
    vertical-align: top;
}

.response {
    font-family: monospace;
}

.response pre {
    display: inline;
}

span.rectangleLink {
    border: thin solid black;
    padding: 4px;
    margin-right: 1em;
    background-color: aquamarine;
}

span.rectangle {
    border: thin solid black;
    padding: 4px;
    margin-right: 1em;
    background-color: gold;
}